body{
  background: url("/background.jpg") no-repeat fixed center;
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  body{
    background: url("/background.jpg") no-repeat fixed center;
    width: 320px;
    height: 568px;
  }
}
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  body{
    background: url("/background.jpg") no-repeat fixed center;
    width: 375px;
    height: 667px;
  }
}
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
  body{
    background: url("/background.jpg") no-repeat fixed center;
    width: 360px;
    height: 640px;
  }
}
@media screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  body{
    background: url("/background.jpg") no-repeat fixed center;
    width: 375px;
    height: 812px;
  }
}
@media screen
and (device-width: 414px)
and (device-height: 736px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  body{
    background: url("/background.jpg") no-repeat fixed center;
    width: 414px;
    height: 736px;
  }
}
@media screen
and (device-width: 768px)
and (device-height: 1024px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  body{
    background: url("/background.jpg") no-repeat fixed center;
    width: 768px;
    height: 1024px;
  }
}
@media screen
and (device-width: 1024px)
and (device-height: 1366px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  body{
    background: url("/background.jpg") no-repeat fixed center;
    width: 1024px;
    height: 1366px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.resourceBarInfo {
  margin: 5px;
}
.resourceNumberWater {
  color: blue;
  margin: 10px;
}
.resourceNumberFood {
  color: green;
  margin: 10px;
}
.resourceNumberPeople {
  color: red;
  margin: 10px;
}
.resourceLevelFood {
  color: green;
  margin-top: 10px;
}
.resourceLevelWater {
  color: blue;
  margin-top: 10px;
}
.resourceLevelPeople {
  color: red;
  margin-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
